<?xml version="1.0" encoding="UTF-8"?>  
<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:b="http://www.springframework.org/schema/beans"   
    xmlns:beans="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd  
                        http://www.springframework.org/schema/security   
                        http://www.springframework.org/schema/security/spring-security-3.2.xsd">  
      
   	<!-- access-denied-page设置权限被拒绝后的跳转页面 -->
    <http auto-config="true" access-denied-page="/intercept.do">
        
        <!-- 设置登录页面，若未登录则自动跳转到该页面。登录成功后，则自动跳转到之前要访问的页面 -->
        <!-- default-target-url设置登录后的目标页 -->
        <form-login login-page="/login.do" authentication-failure-url="/loginFail.do" default-target-url="/loginSuccess.do"/>
        
        <!-- invalidate-session="true"表示开启session失效功能 -->
        <logout invalidate-session="true" logout-success-url="/login.do" logout-url="/logout.do"/>
        
        <!-- 增加一个自定义filter，这个filter位于FILTER_SECURITY_INTERCEPTOR之前  -->
        <custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="myFilter" />
    </http>
       
    <!-- 自定义过滤器 -->
    <beans:bean id="myFilter" class="com.demo.security.myFilter.MyFilterSecurityInterceptor">
    	<beans:property name="authenticationManager" ref="authenticationManager"/>
    	<beans:property name="accessDecisionManager" ref="myAccessDecisionManager"/>
    	<beans:property name="securityMetadataSource" ref="mySecurityMetadataSource"/>
    </beans:bean>
    
    <!-- 自定义Service实现认证管理 -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="myUserDetailService" />
    </authentication-manager>
    <beans:bean id="myUserDetailService" class="com.demo.security.myFilter.MyUserDetailService" />
    
    <!-- 自定义资源数据，定义访问的资源属于哪些权限 -->
    <beans:bean id="mySecurityMetadataSource" class="com.demo.security.myFilter.MySecurityMetadataSource"/>
    
    <!-- 自定义决策器，最终决定该角色是否有权限访问该资源 -->
    <beans:bean id="myAccessDecisionManager" class="com.demo.security.myFilter.MyAccessDecisionManager"/>
    
</beans:beans>